<p id="notice"><%= notice %></p>

<p>
  <strong>M text:</strong>
  <%= @message.m_text %>
</p>

<p>
  <strong>User:</strong>
  <%= @message.user_id %>
</p>

<p>
  <strong>Card:</strong>
  <%= @message.card_id %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
